.footer { 
    height: 100px;
    background-color: rgb(243, 243, 243);
    border-top: 1px solid #e0e0e0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #313131;
    /* margin-top: 40px; */
}

.work-icon {
    font-size: 35px;
    margin-left: 20px;
    transition: .3s;
}

.linkedin:hover {
    color: #2d66c9;
}

.github:hover {
    color: #883388;
}

.copy-right {
    margin-right: 20px;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.link {
    text-decoration: none ;
    color: #313131;
}